#emMovable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  padding-top: 0rem;
  margin-bottom: -20rem;
}
.emContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
  overflow-x: hidden;
}
#emBg {
  position: relative;
  bottom: 5rem;
  z-index: -1;
}

.em {
  color: #6d675c;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 40rem;
  text-shadow: 0px 4px 45px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.em h2 {
  font-size: 2.3rem;
  text-decoration: underline;
}
.em p {
  font-weight: bold;
  text-wrap: wrap;
  text-align: center;
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.4rem;
  margin-top: -0.5rem;
}

#emBg #yellowCircle {
  bottom: -25rem;
  left: 1rem;
  opacity: 50%;
}
#emBg #orangeCircle {
  bottom: 10rem;
  left: 10rem;
  opacity: 70%;
}
#emBg #redCircle {
  bottom: 30rem;
  left: 6rem;
  opacity: 60%;
}

@media (min-width: 576px) {
  .em p {
    max-width: 500px;
  }

  #emBg #yellowCircle {
    bottom: -15rem;
    left: -10rem;
  }
  #emBg #orangeCircle {
    bottom: 5rem;
    left: 15rem;
  }
  #emBg #redCircle {
    bottom: 25rem;
    left: 6rem;
  }
  #emMovable {
    margin-top: -20rem;
    padding-top: 20rem;
    margin-bottom: -15rem;
  }
}
