.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
  z-index: 2;
  margin-bottom: -30rem;
}

#portrait {
  height: 450px;
  width: 350px;
  /* background-image: url(../../assets/img/PortraitV1.png); */
  /* background-image: url(../../assets/img/Animals.jpg); */
  /* opacity: 0.2; */
  /* background-color: #ff150014; */
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 0 #8c1e14 inset;
  background-position: center;
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

#portraitImage {
  height: 450px;
  width: 350px;
  /* background-image: url(../../assets/img/PortraitV1.png); */
  background-image: url(../../assets/img/Animals.jpg);
  opacity: 0.25;
  /* background-color: #ff150014; */
  border-radius: 2rem;
  /* box-shadow: 0px 0px 20px 0 #8c1e14 inset; */
  background-position: center;
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#warnung {
  text-align: center;
  font-family: "Inter";
  font-size: 2rem;
  opacity: 1;
  width: 75%;
  text-wrap: wrap;
  font-weight: 400;
  color: #8c1e14;
  text-shadow: 0px 4px 15px #ff6e6e;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#zitat {
  text-align: center;
  font-family: "Italiana";
  font-size: 2rem;
  width: 60%;
  text-wrap: wrap;
  font-weight: 400;
  color: #6d675c;
}
#kontaktBelow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* KONTAKTFORMULAR */
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border: 1.7px solid #6d675c;
  background-color: #e5dccb;
  border-radius: 5px;
  resize: vertical;
}
.input:hover {
  box-shadow: 0px 0px 3px 0 #575757 inset;
}
#datenschutzAkzeptieren:hover {
  box-shadow: 0px 0px 3px 0 #575757 inset;
}

#kontaktFormularMovable {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6d675c;
  font-family: "Inter";
}
.kontaktFormular {
  display: flex;
  flex-direction: column;

  align-items: center;
  row-gap: 0.25rem; /* Ohne Fehlermeldung 2rem */
  margin-bottom: -3.35rem;
}
.kontaktDaten {
  display: flex;
  flex-direction: column;
  width: 80vw;
  row-gap: 0.5rem;
}
#datenschutzAkzeptieren {
  width: 15px;
  height: 15px;
}
.kontaktFormular h1 {
  text-decoration: underline;
  margin-top: 4.5rem;
  font-size: 2.8rem;
}

.checkboxContainer {
  display: block;
  position: relative;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
  padding-left: 2rem;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 5px;
  background-color: #e5dccb;
  border: 1.7px solid #6d675c;
}

.checkboxContainer:hover input ~ .checkmark {
  box-shadow: 0px 0px 3px 0 #575757 inset;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxContainer .checkmark:after {
  left: 6.5px;
  bottom: 3px;
  width: 8px;
  height: 16px;
  border: solid #8c1e14;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#warning {
  color: #8c1e14;
}

@media (min-width: 576px) {
  .kontakt {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    scale: 120%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-basis: 50%;
  }
  #kontaktBelow {
    flex-basis: 50%;
    max-width: 350px;
  }

  /* KONTAKTFORMULAR */
  .kontaktDaten {
    width: 65vw;
  }
}
@media (min-width: 1152px) {
  .kontaktDaten {
    width: 50vw;
  }
}
